@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="paper-sheet-container" @ref="_paperRef">
    <div class="paper-sheet-visual">
        @ChildContent
    </div>
</div>


@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    private ElementReference _paperRef;
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        if (_module == null)
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/paper-transition.js");

        if (_paperRef.Context != null)
            await _module.InvokeVoidAsync("dropIn", _paperRef);
    }

    public async Task TossAndNavigate(string url)
    {
        if (_module != null)
        {
            await _module.InvokeVoidAsync("tossOut", _paperRef);
        }

        NavigationManager.NavigateTo(url, true);
    }


}