@inject HttpClient Http
@using FowCampaign.App.DTO
@inherits LayoutComponentBase

<div class="page">
    <main>

        @Body

    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userState = await Http.GetFromJsonAsync<UserAppDto>("api/User/me");
        }
        catch (HttpRequestException)
        {
        }
    }

}