@page "/register"
@using System.Net
@using FowCampaign.App.DTO
@using FowCampaign.App.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject RegisterDto User


<div class="container">
    <PaperSheet @ref="_paper">
        <div class="signInPanel">
            <div class="title">
                @_loginStatement
            </div>
            <div class="login">

                <div class="data-box">
                    <input type="text" @bind="User.Username" @onkeydown="Enter" placeholder="NEW CODENAME" required/>
                    <label> USERNAME </label>
                </div>

                <div class="data-box">
                    <input type="password" @bind="User.Password" @onkeydown="Enter" placeholder="******" required/>
                    <label> PASSWORD </label>
                </div>

                <div class="data-box">
                    <input type="password" @bind="User.ConfirmPassword" @onkeydown="Enter" placeholder="******"
                           required/>
                    <label> REPEAT PASSWORD </label>
                </div>


                <br/>

                <div class="data-box">
                    <button class="logButton" @onclick="HandleUserSignUp">
                        CONFIRM REGISTRATION
                    </button>
                </div>

                <div class="data-box">
                    <button class="logButton"
                            style="background-color: var(--wood-light); font-size: 0.9rem;"
                            @onclick="Close">
                        ABORT (BACK TO LOGIN)
                    </button>
                </div>

            </div>
        </div>
    </PaperSheet>
</div>

@code {
    private string _loginStatement = "FILL FORM";
    private PaperSheet _paper;

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            await HandleUserSignUp();
        }
    }

    private async Task HandleUserSignUp()
    {
        _loginStatement = "TRANSMITTING...";

        if (string.IsNullOrWhiteSpace(User.Username) || string.IsNullOrWhiteSpace(User.Password))
        {
            _loginStatement = "MISSING DATA";
            return;
        }

        var exists = await Http.PostAsJsonAsync("api/User/register", User);

        if (exists.StatusCode == HttpStatusCode.Conflict)
        {
            _loginStatement = "CODENAME TAKEN";
            StateHasChanged();
        }
        else if (exists.IsSuccessStatusCode)
        {
            _loginStatement = "REGISTRATION SUCCESSFUL";
            StateHasChanged();
            await Task.Delay(1000);

            User.Username = string.Empty;
            User.Password = string.Empty;
            User.ConfirmPassword = string.Empty;

            await _paper.TossAndNavigate("/login");
            StateHasChanged();
        }
        else if (exists.StatusCode == HttpStatusCode.BadRequest)
        {
            var errors = await exists.Content.ReadFromJsonAsync<List<ValidationError>>();
            if (errors != null && errors.Count > 0)
            {
                _loginStatement = errors.First().ErrorMessage.ToUpper();
            }
            else
            {
                _loginStatement = "INVALID DATA";
            }
        }
        else
        {
            _loginStatement = "TRANSMISSION ERROR";
        }
    }


    public async void Close()
    {
        await _paper.TossAndNavigate("/login");
        StateHasChanged();
    }


    public class ValidationError
    {
        public string PropertyName { get; set; }
        public string ErrorMessage { get; set; }
    }


}

